.NavBar {
  display: flex;
  justify-content: flex-end;
}

.NavBar__Item {
  background-color: #4c5d72;
  color: #9da6b1;
  padding: 10px 25px;
  cursor: pointer;
  font-size: 0.9em;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
}

.NavBar__Item--Active {
  background-color: #5ed0c0;
  color: white;
}

.NavBar__Item:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.NavBar__Item:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
